#jumbo{
    background-color: lightgreen;
}
h1{
    color:rgb(78, 62, 121);
    font-weight:bold;
    font-size:20px}
.devour-form{
    font-size: 20px;
   
}
.form-group{
    font-size: 20px;  
}

.button{
    background-color: yellowgreen
}